In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
from sklearn.model_selection import GridSearchCV

PREPARAMOS LOS DATOS

In [4]:
lluvia_sl_max = pd.read_excel(r'C:\Users\lab_4\comp metada\Estaciones.xlsx', 1, index_col=None, header=None)

In [5]:
lluvia_sl_max.columns = lluvia_sl_max.iloc[1]

In [6]:
lluvia_sl_max = lluvia_sl_max.drop([1])

In [7]:
lluvia_sl_max.isnull().sum()

1
Año hid                  1
San Luis                21
Miraflores              26
Pozo Sarmiento           7
Pie de Medano           40
Valle Viejo             27
Caimancito              12
Casa de Piedra          44
Potrero del Clavillo     9
Piedra  Grande          44
Los Sosa                11
Padilla                 23
La Maria                45
San Luis Tucuman        28
dtype: int64

In [8]:
#SACAMOS TODAS LAS FILAS QUE TENGAN NAN EN LA COLUMA DE SAN LUIS DE TUCUMAN
lluvia_sl_max = lluvia_sl_max.dropna(subset = ["San Luis Tucuman"])

In [9]:
lluvia_sl_max.isnull().sum()

1
Año hid                  0
San Luis                 7
Miraflores              19
Pozo Sarmiento           0
Pie de Medano           14
Valle Viejo             10
Caimancito               1
Casa de Piedra          16
Potrero del Clavillo     0
Piedra  Grande          16
Los Sosa                 2
Padilla                  0
La Maria                17
San Luis Tucuman         0
dtype: int64

In [10]:
#IMPUTAMOS VALORES A LOS NANS USANDO KNN IMPUTER, DISTANCIA EUCLIDEA EN RELACIÓN A LOS VECINOS
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=4)

In [11]:
lluvia_sl_max_filled = imputer.fit_transform(lluvia_sl_max)

In [12]:
df_filled = pd.DataFrame(lluvia_sl_max_filled)

In [15]:
df_filled.columns = lluvia_sl_max.columns

In [ ]:
sns.pairplot(lluvia_sl_max)
plt.show()

In [18]:
y = np.array(df_filled["San Luis Tucuman"])

In [19]:
x = df_filled.drop(['San Luis Tucuman'], axis=1)

In [55]:
#SEPARAMOS TRAIN Y TEST QUE VAMOS A USAR
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.10, random_state=42)

In [56]:
scaler = preprocessing.StandardScaler().fit(xtrain)
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [57]:
xtrain_scal = scaler.transform(xtrain)

In [58]:
xtest_scal = scaler.transform(xtest)

KNN PARA PREDECIR LOS VALORES PASADOS DE NUESTRA ESTACION QUE NO TENEMOS

In [59]:
neigh = KNeighborsRegressor(weights = "distance")

In [103]:
parameters_k = np.arange(3,5,7)
parameters_knn = [{'n_neighbors': parameters_k}]

In [104]:
n_folds = 5

In [105]:
regresor_neigh = GridSearchCV(neigh, parameters_knn, refit = True, cv=n_folds, verbose=True)

In [106]:
regresor_neigh.fit(xtrain_scal, ytrain)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='distance'),
             iid='deprecated', n_jobs=None,
             param_grid=[{'n_neighbors': array([3])}], pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=True)

In [107]:
regresor_neigh.best_params_

{'n_neighbors': 3}

In [108]:
ypred2 = regresor_neigh.predict(xtest_scal)
ypred2

array([116.06142545,  66.73685767,  68.23967161, 100.4033707 ])

In [109]:
# computo la raiz cuadrada del error cuadratico medio entre ytest (etiqueta real) vs ypred (etiqueta estimada por el modelo)
np.sqrt(mean_squared_error(ytest, ypred2))

31.76408661284596

Support vector regresion PARA PREDECIR LOS VALORES DE LA ESTACION QUE NO TENEMOS, LOS PASADOS

In [110]:
svreg = SVR()

In [111]:
n_folds = 5

In [112]:
parameters_svr_lin = [{'kernel':['linear'], 'C': [1, 100]}]

parameters_svr_rbf = [{'kernel':['rbf'] , 'C': [1,100],'gamma': [0.1,0.5] }]

In [113]:
regresor_svr = GridSearchCV(svreg, parameters_svr_lin, cv=n_folds, verbose=True)

In [114]:
# entreno modelo regresor con mi set de entrenamiento (tanto Xtrain como Ytrain)
regresor_svr.fit(xtrain_scal, ytrain.ravel())
#svr_lin.fit(xtrain_)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='scale', kernel='rbf',
                           max_iter=-1, shrinking=True, tol=0.001,
                           verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [1, 100], 'kernel': ['linear']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [115]:
regresor_svr.best_params_

{'C': 1, 'kernel': 'linear'}

In [116]:
regresor_svr.best_score_

-3.8119395738463724

In [117]:
ypred3 = regresor_svr.predict(xtest_scal)
ypred3

array([90.32844201, 89.96732874, 60.19436443, 95.36573387])

In [118]:
np.sqrt(mean_squared_error(ytest, ypred3))

26.138377377867492

ahora uso el modelo para predecir valores previos a los que tenemos de san luis, vamos a usar el SVR

In [289]:
lluvia_sl = pd.read_excel(r'C:\Users\lab_4\comp metada\Estaciones.xlsx', 1, index_col=None, header=None)

In [290]:
lluvia_sl.columns = lluvia_sl.iloc[1]

In [293]:
lluvia_sl = lluvia_sl.drop([0])

In [294]:
lluvia_sl

1,Año hid,San Luis,Miraflores,Pozo Sarmiento,Pie de Medano,Valle Viejo,Caimancito,Casa de Piedra,Potrero del Clavillo,Piedra Grande,Los Sosa,Padilla,La Maria,San Luis Tucuman
2,1946,NaN,NaN,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947,NaN,NaN,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948,NaN,NaN,76.3,NaN,NaN,41.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1949,NaN,NaN,64.4,NaN,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1950,NaN,NaN,60,NaN,NaN,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1951,NaN,NaN,61.2,NaN,NaN,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1952,NaN,88,90,NaN,NaN,108.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1953,58.5,111.5,112,NaN,NaN,133.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1954,90.5,46,96.3,NaN,NaN,107.5,NaN,87.1,NaN,142,NaN,NaN,NaN
11,1955,64.2,65.5,113.5,NaN,NaN,132.5,NaN,55,NaN,115,NaN,NaN,NaN
12,1956,132,85,113,NaN,NaN,103.4,NaN,28.9,NaN,140,NaN,NaN,NaN
13,1957,120.2,109.5,126,NaN,NaN,45.1,NaN,72,NaN,72.7,NaN,NaN,NaN
14,1958,NaN,90,NaN,NaN,NaN,110,NaN,107.7,NaN,114,NaN,NaN,NaN
15,1959,NaN,131,NaN,NaN,27,NaN,NaN,96,NaN,99.3,NaN,NaN,NaN
16,1960,NaN,81.5,NaN,NaN,NaN,NaN,NaN,71,NaN,80,NaN,NaN,NaN
17,1961,NaN,83.5,NaN,NaN,34.3,NaN,NaN,112.3,NaN,98.5,NaN,NaN,NaN
18,1962,NaN,116.5,NaN,NaN,NaN,NaN,NaN,52,NaN,92,NaN,NaN,NaN
19,1963,NaN,137,NaN,NaN,35,NaN,NaN,76.5,NaN,111,NaN,NaN,NaN
20,1964,96.2,82.5,57.4,NaN,NaN,NaN,NaN,78.9,NaN,64.7,NaN,NaN,NaN
21,1965,107,69,71.8,NaN,64.5,75.1,NaN,100.6,NaN,97.6,NaN,NaN,NaN
22,1966,89.5,43,126.7,NaN,43.4,100.3,NaN,57.8,NaN,85.3,NaN,NaN,NaN
23,1967,87.5,78.5,115.5,NaN,88.7,NaN,NaN,131.5,NaN,114.8,NaN,NaN,NaN
24,1968,94.2,79.5,66.2,NaN,76.1,NaN,NaN,76.8,NaN,200,101.5,NaN,NaN
25,1969,278.8,161.6,105.2,NaN,32.9,69.2,NaN,95.2,NaN,124.3,104.2,NaN,NaN
26,1970,114.8,112.7,54.8,NaN,60.5,80.3,NaN,62,NaN,167.4,88.4,NaN,NaN
27,1971,78.4,122.7,95.5,25,20.3,100.5,NaN,54.2,NaN,107.3,80,NaN,NaN
28,1972,66.4,73.3,93.1,21,24.5,113,NaN,41.9,NaN,91.9,86,NaN,NaN
29,1973,183.6,118.3,74.9,28.2,NaN,92.6,NaN,101.8,NaN,134.5,161.3,NaN,300
30,1974,87.6,91.6,107.2,25.4,NaN,143.6,NaN,58.6,NaN,153.9,131.5,NaN,160
31,1975,126,66.4,83.7,29,NaN,67.8,NaN,155.2,NaN,NaN,66,NaN,110
32,1976,81.2,100.2,85.3,26,60,120.2,NaN,96.2,NaN,NaN,122.5,NaN,145
33,1977,113.2,145.3,118.6,43.8,42.5,174.6,NaN,80.1,NaN,231,100.5,NaN,96
34,1978,54.5,135,84.2,21.5,57.5,73.1,NaN,76.2,NaN,155.5,88.5,NaN,81
35,1979,78.9,148,75.1,41.5,53,71.6,NaN,90.5,NaN,146.4,118.1,NaN,76
36,1980,118.9,81.6,74.9,31.1,52,130.3,NaN,46.5,NaN,118,90.5,NaN,76
37,1981,104.5,133.2,66.8,27.4,52.3,87.1,NaN,66,NaN,110.3,119,NaN,107
38,1982,149.2,65.9,94.5,18.4,45.8,98.8,NaN,54,NaN,148,80.5,NaN,62
39,1983,111.6,86.7,74.8,15.8,49.6,126.9,NaN,46,NaN,146,135,NaN,122
40,1984,62.1,101.6,80.5,42.2,NaN,65.8,NaN,153,NaN,187,111,NaN,96
41,1985,NaN,133.7,67.2,19.5,NaN,110.3,NaN,50,NaN,212.8,77,NaN,94
42,1986,79.6,89.7,98.2,26.1,69.6,66.1,NaN,308,NaN,142.4,80,NaN,50
43,1987,111.3,NaN,133.3,81.5,46.2,124.8,NaN,72.5,NaN,136,119.5,NaN,51
44,1988,150.5,NaN,91.3,31.2,40.6,75.8,NaN,112,NaN,138,105.5,NaN,90
45,1989,69.5,NaN,62.5,22.6,NaN,59.8,100,75,110,95,73.4,NaN,179
46,1990,144,NaN,99.6,19.5,NaN,82.8,90,98,98.8,186.2,102,103,45
47,1991,120,NaN,136.9,NaN,NaN,153.3,82,56,98.5,106,110,134,67
48,1992,107,NaN,89.1,13.7,85,NaN,133,109,151.3,138,100.8,49,67
49,1993,130.5,NaN,142.3,NaN,60,57,143,69.5,135,148,67.5,117,88
50,1994,95,NaN,69.5,NaN,65,115.6,163,74.5,92.1,128,110,55.5,71
51,1995,96,NaN,71.5,NaN,35,99.5,135,65,82,115,94,59,63
52,1996,100,NaN,166.5,NaN,54.7,59.5,108,58,98.1,78,77.1,52.5,122
53,1997,132,NaN,104.1,NaN,75,109.2,161,140,150,156,261,82,67
54,1998,77.4,NaN,46.9,NaN,32,120.5,205,124.5,308,108,92.5,97,65
55,1999,106,NaN,111.9,NaN,139.5,94,121,61.5,93.5,122,136,84,73
56,2000,NaN,NaN,199.6,NaN,NaN,71,187,104.5,218,235.5,127.5,103,102
57,2001,NaN,NaN,79,NaN,38,104.2,158,111.5,120,242,159,132,91
58,2002,NaN,NaN,116.5,NaN,60,71.5,94,61.5,93,138.5,66.5,65,150
59,2003,NaN,NaN,179.2,NaN,45,102,158,113.5,100,174.5,104.8,84,75
60,2004,NaN,NaN,147.5,NaN,41,64.5,119,69,82,144,112.5,64,96
61,2005,NaN,NaN,81,NaN,NaN,170.7,100.2,58.5,96,127.5,80.5,49,73

VOLVEMOS A IMPUTAR VALORES A NANS, VAMOS A SACAR LA COLUMNA DE SAN LUIS Y VAMOS A RECORTAR EL DF PARA QUE SE USEN LAS PRIMERAS 27 FILAS PARA PREDECIR LOS 27 VALORES QUE NECESITAMOS DE SAN LUIS.

In [295]:
lluvia_sl_filled = imputer.fit_transform(lluvia_sl)

In [298]:
df_filled2 = pd.DataFrame(lluvia_sl_filled)

In [300]:
df_filled2.columns = lluvia_sl.columns

In [301]:
df_filled2 = df_filled2.drop(['San Luis Tucuman'], axis = 1)

In [303]:
df_filled2 = df_filled2.iloc[:27]

In [304]:
df_filled2.shape

(27, 13)

In [305]:
x_pasado = scaler.transform(df_filled2)

In [306]:
ypred_pasado =  regresor_svr.predict(x_pasado)

In [307]:
ypred_pasado.shape

(27,)

In [313]:
df_filled2['San Luis Tucuman'] = ypred_pasado

AGREGO LOS VALORES Y TENGO UN NUEVO DATAFRAME QUE TIENE LOS VALORES PREDICHOS CONCATENADO A LOS VALORES QUE YA NOS DIERON

In [367]:
san_tucuman_entero = san_tucuman_entero.to_csv('san_luis_entero.csv')

In [374]:
san_tucuman_entero = pd.read_csv(r'C:\Users\lab_4\comp metada\san_luis_entero.csv')

In [376]:
san_tucuman_entero['Año hid'] = san_tucuman_entero['Año hid'].astype('int')

In [377]:
san_tucuman_entero.set_index('Año hid', inplace = True)

In [378]:
#SEPARAMOS EN TRAIN Y TEST
lluvia_train = san_tucuman_entero['San Luis Tucuman'].iloc[:50]
lluvia_test = san_tucuman_entero['San Luis Tucuman'].iloc[50:]

In [379]:
#MODIFICAMOS LOS INDICES A DATETIME
lluvia_train.index = pd.to_datetime(lluvia_train.index, format='%Y')
lluvia_test.index = pd.to_datetime(lluvia_test.index, format='%Y')

In [380]:
lluvia_train = lluvia_train.astype('float64')
lluvia_test = lluvia_test.astype('float64')

VOLVEMOS A ANALIZAR EL ARIMA PERO AHORA CON TODA LA SECUENCIA NUEVA

In [381]:
#USAMOS CODIGO DE INTERNET, TIENE UNA PARTE PARA EVALUAR EL MODELO DE ARIMA, ES DECIR LOS PARÁMETROS,
# https://machinelearningmastery.com/make-sample-forecasts-arima-python/
# https://machinelearningmastery.com/grid-search-arima-hyperparameters-with-python/

import warnings
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
 
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(X, arima_order):
	# prepare training dataset
	train_size = int(len(X) * 0.66)
	train, test = X[0:train_size], X[train_size:]
	history = [x for x in train]
	# make predictions
	predictions = list()
	for t in range(len(test)):
		model = ARIMA(history, order=arima_order)
		model_fit = model.fit(disp=0)
		yhat = model_fit.forecast()[0]
		predictions.append(yhat)
		history.append(test[t])
	# calculate out of sample error
	error = mean_squared_error(test, predictions)
	return error
 
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(dataset, p_values, d_values, q_values):
	dataset = dataset.astype('float32')
	best_score, best_cfg = float("inf"), None
	for p in p_values:
		for d in d_values:
			for q in q_values:
				order = (p,d,q)
				try:
					mse = evaluate_arima_model(dataset, order)
					if mse < best_score:
						best_score, best_cfg = mse, order
					print('ARIMA%s MSE=%.3f' % (order,mse))
				except:
					continue
	print('Best ARIMA%s MSE=%.3f' % (best_cfg, best_score))
 

# evaluate parameters
p_values = [0, 1, 2, 4, 6, 8, 10]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
evaluate_models(san_tucuman_entero['San Luis Tucuman'].values, p_values, d_values, q_values)

ARIMA(0, 0, 0) MSE=1283.007
ARIMA(0, 0, 1) MSE=1338.383
ARIMA(0, 0, 2) MSE=1348.417
ARIMA(0, 1, 0) MSE=2345.909
ARIMA(0, 1, 1) MSE=1417.145
ARIMA(0, 1, 2) MSE=1363.861
ARIMA(0, 2, 0) MSE=6874.329
ARIMA(0, 2, 1) MSE=2458.376
ARIMA(0, 2, 2) MSE=1566.608
ARIMA(1, 0, 0) MSE=1337.247
ARIMA(1, 0, 1) MSE=1397.382
ARIMA(1, 0, 2) MSE=1390.483
ARIMA(1, 1, 0) MSE=1924.414
ARIMA(1, 1, 1) MSE=1375.287
ARIMA(1, 1, 2) MSE=1469.813
ARIMA(1, 2, 0) MSE=3970.039
ARIMA(2, 0, 0) MSE=1365.922
ARIMA(2, 0, 1) MSE=1394.266
ARIMA(2, 0, 2) MSE=1412.959
ARIMA(2, 1, 0) MSE=1830.096
ARIMA(2, 1, 1) MSE=1409.706
ARIMA(2, 1, 2) MSE=1413.217
ARIMA(2, 2, 0) MSE=3665.027
ARIMA(2, 2, 1) MSE=1946.944
ARIMA(2, 2, 2) MSE=1579.386
ARIMA(4, 0, 0) MSE=1514.218
ARIMA(4, 0, 1) MSE=1644.311
ARIMA(4, 1, 0) MSE=1640.718
ARIMA(4, 1, 1) MSE=1560.011
ARIMA(4, 2, 0) MSE=2678.529
ARIMA(4, 2, 1) MSE=1774.729
ARIMA(6, 0, 0) MSE=1679.205
ARIMA(6, 0, 1) MSE=1765.800
ARIMA(6, 1, 0) MSE=1777.290
ARIMA(6, 1, 1) MSE=1729.531
ARIMA(6, 2, 0) MSE=2578.547
ARIMA(6, 2, 1) MSE=1922.873
ARIMA(8, 0, 0) MSE=1755.364
ARIMA(8, 1, 0) MSE=1711.894
ARIMA(8, 1, 1) MSE=1825.553
ARIMA(8, 1, 2) MSE=1852.400
ARIMA(10, 0, 0) MSE=1765.124
ARIMA(10, 1, 0) MSE=1744.280
ARIMA(10, 1, 1) MSE=1890.687
Best ARIMA(0, 0, 0) MSE=1283.007

In [382]:
# FITEAMOS EL MODELO, QUE NOS DA QUE ES UN MODELO DE RUIDO BLANCO (0,0,0)
model = ARIMA(np.asarray(lluvia_train), order=(0,0,0))
model_fit = model.fit(disp=0)
# print summary of fit model
print(model_fit.summary())

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   50
Model:                     ARMA(0, 0)   Log Likelihood                -251.859
Method:                           css   S.D. of innovations             37.272
Date:                Thu, 27 Feb 2020   AIC                            507.717
Time:                        20:46:18   BIC                            511.541
Sample:                             0   HQIC                           509.174

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         98.2400      5.271     18.638      0.000      87.909     108.571
==============================================================================

In [387]:
forecast = model_fit.forecast(steps=10)[0]

In [388]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(lluvia_test, forecast)

22.696000134421713